*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    min-height: 100vh;
    
    background-color: #2B2D2E;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}