.card {
    display: flex;
    justify-content: space-between;
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(138,27,195,1) 50%, rgba(0,0,0,1) 100%);
}

.card figure img{
    height: 10rem;
    aspect-ratio: 1;
    
}