*{
text-decoration: none;

}

.header {
  min-height: 8rem;
  background-color: #ffffff;
  color: #61dafb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.presentation {
  display: flex;
}

.nav ul {
  list-style: none;
  gap: 5rem;
  display: flex;


}
.nav ul li link{
text-decoration: none;
  color: #fff;
}
.logo {
  height: 5rem;
  animation: anim-logo infinite 1s;
}

.moto {
  /* border-bottom: 1px solid #000; */
  cursor: no-drop;
  font-size: 3rem;
  animation: anim-moto infinite 5s linear;

}

@keyframes anim-moto {
 0% {
    transform: translateX(1500%);
  }

  50% {
    transform: translateX(0%) rotate(90deg);
  }

  100% {
    transform: translate(-1500%);
  }

}

@keyframes anim-logo {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}