#cardProps {
    border: 1px solid #fff;
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 2rem;
    background-color: #282c34;

}

#cardProps figcaption h4 {
    margin: 0;
}

#cardProps img {
    border: 5px solid #fff;
    border-style: double;

}