.message{
    padding: 1rem;
    background-color: #282c34;
}

h2{
    margin: 0;
}
.message h3{
    color: #fff;
    text-shadow: 2px 2px 3px #000;
}

.message p{
    text-shadow: 4px 0px 3px #fff;
    margin: 0;
}